In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('student-performance.csv')
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [3]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [5]:
df.isnull().sum()

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [6]:
df.isnull().count()

Hours Studied                       10000
Previous Scores                     10000
Extracurricular Activities          10000
Sleep Hours                         10000
Sample Question Papers Practiced    10000
Performance Index                   10000
dtype: int64

In [7]:
df.dtypes
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [8]:
df['Extracurricular Activities'].value_counts()

Extracurricular Activities
No     5052
Yes    4948
Name: count, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
le = LabelEncoder()
df['Extracurricular Activities'] = le.fit_transform(df['Extracurricular Activities'])
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [10]:
x = df[['Hours Studied','Previous Scores','Extracurricular Activities','Sleep Hours','Sample Question Papers Practiced']]
x

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
...,...,...,...,...,...
9995,1,49,1,4,2
9996,7,64,1,8,5
9997,6,83,1,8,5
9998,9,97,1,7,0
9999,7,74,0,8,1

In [11]:
y = df[['Performance Index']]
y

      Performance Index
0                  91.0
1                  65.0
2                  45.0
3                  36.0
4                  66.0
...                 ...
9995               23.0
9996               58.0
9997               74.0
9998               95.0
9999               64.0

[10000 rows x 1 columns]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.1)

In [14]:
xtrain

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
906,9,96,1,5,8
5845,3,77,0,6,2
8885,9,87,0,4,1
8535,6,64,1,6,9
6374,4,44,0,6,4
...,...,...,...,...,...
9303,2,61,1,5,1
9399,7,62,0,4,3
3917,9,81,1,9,5
4819,7,84,1,5,0
6890,1,55,1,5,7

In [15]:
ytrain

      Performance Index
906                96.0
5845               54.0
8885               83.0
8535               54.0
6374               24.0
...                 ...
9303               38.0
9399               48.0
3917               78.0
4819               73.0
6890               28.0

[9000 rows x 1 columns]

In [16]:
ytest

      Performance Index
2909               21.0
3072               58.0
6203               81.0
2641               18.0
8815               73.0
...                 ...
6413               25.0
7335               37.0
8621               43.0
7476               84.0
1565               69.0

[1000 rows x 1 columns]

In [17]:
Scaler = StandardScaler()
xtrain = Scaler.fit_transform(xtrain)
xtest = Scaler.transform(xtest)

In [18]:
xtest

array([[-1.15188351, -1.58489246, -0.98851044,  0.86465407,  0.14780641],
       [ 0.39041598, -0.20179182, -0.98851044,  0.86465407,  1.19388064],
       [-0.38073376,  1.69997156, -0.98851044,  0.86465407,  1.19388064],
       ...,
       [ 1.54714059, -1.52726327,  1.0116231 , -0.31486645,  0.49649782],
       [ 0.39041598,  1.46945478,  1.0116231 ,  0.86465407, -0.20088499],
       [-1.53745838,  1.64234236, -0.98851044, -0.31486645,  0.49649782]],
      shape=(1000, 5))

In [19]:
xtrain

array([[ 1.54714059,  1.52708398,  1.0116231 , -0.90462671,  1.19388064],
       [-0.76630864,  0.4321293 , -0.98851044, -0.31486645, -0.89826781],
       [ 1.54714059,  1.00842124, -0.98851044, -1.49438697, -1.24695922],
       ...,
       [ 1.54714059,  0.66264608,  1.0116231 ,  1.45441433,  0.14780641],
       [ 0.77599085,  0.83553366,  1.0116231 , -0.90462671, -1.59565063],
       [-1.53745838, -0.83571295,  1.0116231 , -0.90462671,  0.84518923]],
      shape=(9000, 5))

In [20]:
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(xtrain,ytrain)

LinearRegression()

In [23]:
ypred = lr.predict(xtest)
ypred
xtrain

array([[ 1.54714059,  1.52708398,  1.0116231 , -0.90462671,  1.19388064],
       [-0.76630864,  0.4321293 , -0.98851044, -0.31486645, -0.89826781],
       [ 1.54714059,  1.00842124, -0.98851044, -1.49438697, -1.24695922],
       ...,
       [ 1.54714059,  0.66264608,  1.0116231 ,  1.45441433,  0.14780641],
       [ 0.77599085,  0.83553366,  1.0116231 , -0.90462671, -1.59565063],
       [-1.53745838, -0.83571295,  1.0116231 , -0.90462671,  0.84518923]],
      shape=(9000, 5))

In [24]:
mean_squared_error(ytest,ypred)

4.2187487927081655

In [25]:
r2_score(ytest,ypred)

0.9882047160825401

In [26]:
with open("student_performance-LR.pkl",'wb')as file:
    pickle.dump((lr,Scaler,le),file)